# # # # # # # # # # # # # 
# Spell checker settings
# # # # # # # # # # # # # 

[*.{cs,md,txt,vb,cake,csx,vbx}]

spelling_exclusion_path = .\exclusion.dic
spelling_use_default_exclusion_dictionary = true
csharp_spell_checker_enabled = true

# Spell checker settings for Markdown files
[*.md]
csharp_spell_checker_exclusion_file = .\exclusion.dic
# csharp_spell_checker_exclusion_file = .spellcheckerignore
csharp_spell_checker_enabled = true

# # # # # # # # # # # # #
# .NET Naming Rules
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules
# # # # # # # # # # # # #

[*.{cs,csx,cake,vb,vbx}]

# # # # # # # # # # # # #
# Style Definitions
# # # # # # # # # # # # #

# constants_style - Define the constant style
dotnet_naming_style.constants_style.capitalization = pascal_case

# private_constants_style - Define the private constant style
dotnet_naming_style.private_constants_style.capitalization = pascal_case

# local_constants_style - Define the private constant style
dotnet_naming_style.local_constants_style.capitalization = camel_case

# All public/protected/protected_internal constant fields must be Constant Style
# https://docs.microsoft.com/dotnet/standard/design-guidelines/field
dotnet_naming_symbols.public_protected_constant_fields_group.applicable_accessibilities = public, internal, protected_internal, protected, private_protected
dotnet_naming_symbols.public_protected_constant_fields_group.required_modifiers = const
dotnet_naming_symbols.public_protected_constant_fields_group.applicable_kinds = field
dotnet_naming_rule.public_protected_constant.symbols = public_protected_constant_fields_group
dotnet_naming_rule.public_protected_constant.style = constants_style
dotnet_naming_rule.public_protected_constant.severity = suggestion

# Private constant fields must be private constant style
dotnet_naming_symbols.private_constant_fields_group.applicable_accessibilities = private
dotnet_naming_symbols.private_constant_fields_group.applicable_kinds = field
dotnet_naming_symbols.private_constant_fields_group.required_modifiers = const
dotnet_naming_rule.private_const_field_naming.symbols = private_constant_fields_group
dotnet_naming_rule.private_const_field_naming.style = private_constants_style
dotnet_naming_rule.private_const_field_naming.severity = suggestion

# Local constant fields must be local constant style
dotnet_naming_symbols.local_constant_fields_group.applicable_accessibilities = local
dotnet_naming_symbols.local_constant_fields_group.applicable_kinds = local
dotnet_naming_symbols.local_constant_fields_group.required_modifiers = const
dotnet_naming_rule.local_const_field_naming.symbols = local_constant_fields_group
dotnet_naming_rule.local_const_field_naming.style = local_constants_style
dotnet_naming_rule.local_const_field_naming.severity = silent

# All constant fields must be Constants_Style
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1303.md
# dotnet_naming_symbols.stylecop_constant_fields_group.applicable_accessibilities = public, internal, protected_internal, protected, private_protected
# dotnet_naming_symbols.stylecop_constant_fields_group.required_modifiers = const
# dotnet_naming_symbols.stylecop_constant_fields_group.applicable_kinds = field
# dotnet_naming_rule.stylecop_constant_fields_must_be_pascal_case_rule.symbols = stylecop_constant_fields_group
# dotnet_naming_rule.stylecop_constant_fields_must_be_pascal_case_rule.style = constants_style
# dotnet_naming_rule.stylecop_constant_fields_must_be_pascal_case_rule.severity = warning


